.container {
  margin: 0 auto;

  /* width: 80%; */
}

.grid {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid hsl(0, 0%, 87%);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
  width: 200px;
  height: 400px;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #0070f3;
}

.card h1 {
  margin: 1rem 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.btnSecondary {
  padding: 1em;
  border: none;
  background: inherit;
  font-size: 2em;
}

.uuid {
  font-size: 10px;
  padding: 2em 0;
  color: hsl(0, 0%, 70%);
}